[access "refs/*"]
        owner = group android_system_core
	pushMerge = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	push = +force group Administrators
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
